{% extends 'base.html' %} 
{% block title %} | Dashboard {% endblock %} 
{% block content %}
 <!-- Sidebar -->
        {% include 'partials/_sidebar.html' %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
            {% include 'partials/_topbar.html' %}
                

                <!-- Begin Page Content -->
                <div class="container-fluid">

                <!-- Alerts-->
                {% include 'partials/_alerts.html' %}
                

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <a href="{% url 'dashboard:all' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">View Existing Veterinary Officer Records</a>

                        <a href="{% url 'dashboard:index' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Back to Dashboard</a>
                    </div>

                        <div>
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Create Veterinary Officer Record</h6>
                                </div>
                                <div class="card-body">
                                  

                                   <!-- Alerts -->
          					{% include 'partials/_alerts.html' %}

                            <form class="user" method="POST" action="{% url 'dashboard:new' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" 
                                           name="fullname" placeholder="Full Name">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="email" class="form-control form-control-user" 
                                        name="email" placeholder="Email Address">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" 
                                        name="county" placeholder="County">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user"
                                        name="idNo" 
                                        placeholder="ID Number">
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="number" class="form-control form-control-user" 
                                        name="mobile_number" placeholder="Phone Number">
                                    </div>
                                </div>
                                
                                <div class="form-group">
									<button class="btn btn-primary btn-user" type="submit">Create Record</button>
                                </div>
                                
                               
                            </form>
                                </div>
                            </div>
                        </div>
                    

                    

                   
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
          {% include 'partials/_footer.html' %}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

          <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}